body {
	text-align: center;
	background-color: dodgerBlue;
}
img {
	border-radius: 100%;
	width: 500px;
	height: 750px;
}
h4 {
	magging-top: 1px;
	padding-top: 1px;
	padding-bottom: 10px;
}