 *{
	margin: 0px;
	padding: 0px;
	
}
body {
	background-color: Gainsboro;
	background-image: url("abuu.jpeg")
}
.header {
	width: 100%;
	height: 160px;
	background-color:dodgerBlue;
}
.navigation{
	margin:0px;
	width: 1000px;
	height: 80px;
	border-top: 1px solid gray;
	float: right;
}
.list {
	float: left;
	list-style: none;
	width:200px;
}
li>a{
	display: block;
	color: white;
	line-height: 80px;
	text-align: center;
	text-decoration: none;
}
.logo{
	width: 90px;
	height: 80px;
	float: left;
}
.logo>img {
	width: 140px;
	height: 159px;
	margin-left: 50px;
}
.title {
	width: 600px;
	height: 70px;
	margin-top: 2px;
	margin-left: 250px;
	padding-top:10px;
	font-size: 50px;
	text-shadow: 1px 0px 10px 0px;
	font-family: Blippo, fantasy;
	color: PowderBlue;
}
li>a:hover, li>a:focus{
	color: gray;
	background-color: navy;
}
.contact{
	width: 100%;
	height: 300px;
	background-color: MidnightBlue;
}
.cont{
	width: 49.8%;
	height: 250px;
	float: left;
	border: 1px solid black;
	padding-top: 50px;
	font-size: 20px;
	text-shadow: 1px 0px 10px 0px;
	font-family: sans, sans-serif;
	text-align: center;
	color: white;
}
.social {
	width: 49.8%;
	height: 250px;
	border: 1px solid black;
	float: right;
	padding-top: 50px;
	font-size: 20px;
	text-shadow: 1px 0px 10px 0px;
	font-family: sans, sans-serif;
	text-align: center;
	color: white;
}
li {
	list-style: none;
}
.copyright{
	margin-bottom: 0px;
	width: 100%;
	height: 30px;
	border: 1px solid black;
	background-color: darkBlue;
	text-align: center;
	color: white;
	padding-top: 20px;
}